body{
    background-image: url("../../images/fondo2.jpg");
    background-size: contain;
    padding: 50px;
}

@media (min-width:1300px){
    #footer {
        font-size: 15px;
        line-height: 30px;
    }
}

p, h3 {
    color: white;
}



