body.dark {
    background: #111111;
}

body.dark .header, body.dark header {
    background: #222222;
    -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
}

body.dark header li, body.dark header a, #perfil {
    color: white;
}

body.dark header a:hover, body.dark header li:hover, #perfil {
    color: orangered;
}

body.dark .logo {
    color: white;
}

body header li, body header a {
    color: black;
}

body header a:hover, body header li:hover {
    color: orangered;
}

body.dark .grid .card {
    background: #222222;
    -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
}

#switch {
    position: relative;
    cursor: pointer;
}
#switch-checkbox {
    display: none;
}
#switch-checkbox:checked + #switch:after {
    content: "Modo Claro";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    color: black;
    background-color: #ffffff;
    text-align: center;
    border-radius: 5px;
}

#switch-checkbox:checked{
    color: white;
}

.botondm {
    border: 2px solid #222222;
    padding: 1px;
    background-color: #222222;
    text-align: center;
    border-radius: 5px;
    height: auto;
}

.switchtxt {
    color: white;
    text-align: center;
}