body {
    background-image: url("../images/fondo2.jpg");
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

.btn {
    background-color: rgb(44, 172, 44);
    color: white;
    font-weight: bold;
}

#botonGuest {
    background-color: darkturquoise;
    color: white;
}

.btn:hover {
    background-color: white;
    border: 2px solid rgb(44, 172, 44);
    color: black;
}

#botonGuest:hover {
    background-color: white;
    border: 2px solid darkturquoise;
    color: black;
}
